.element__heart {
    border: none;
    width: 22px;
    height: 19px;
    background-color: white;
    background-image: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;
    opacity: 1;
    transition: .3s opacity;
    flex-grow: 0;
}

.element__heart:hover {
    opacity: 0.6;
}
