.element__image {
    width: 282px;
    height: 282px;
    background-image: url(../../../images/castle.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}